.meeting_date {
    font-size: 12px;
    
}

.meeting_details {
    padding: 40px 0px;
    height: calc(100vh - 85px);
    overflow-y: auto;
    .meeting_times {
        position: relative;
        .hour {
            height: 60px;
            border-top: 1px solid #ccc;
            &:last-child {
                border-bottom: 1px solid #ccc;
            }
            p {
                margin: 0px;
                display: inline-block;
                width: 41px;
                font-size: 11px;
                text-align: right;
                position: relative;
                top: -12px;
                background: white;
                padding-right: 9px;
                white-space: nowrap;
            }
        }
    }
}


.meeting_box {
    position: absolute;
    height: 30px;
    width: calc(100% - 50px);
    background: #3498db;
    left: 40px;
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
    box-shadow: 0px 2px 7px #ddd;
    .time {
        margin: 0px;
        font-size: 10px;
    }
    .meeting_name {
        margin: 0px;
    }
}