<div class="meeting_date">
    <mat-form-field>
      <mat-label>Calender</mat-label>
      <input matInput [matDatepicker]="picker" readonly [formControl]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="meeting_details">
    <div class="meeting_times">
        <div *ngFor="let hour of meeting_hours" class="hour" [attr.hour]="hour.hour" (click)="createMeet($event, hour)">
            <p>{{hour.hour}} {{hour.ampm}}</p>
        </div>
        <div class="meeting_box" *ngFor="let meet of getMeetings()" [style.top.px]="getTop(meet)" [style.height.px]="getHeight(meet)">
            <p class="time">{{meet.start_time}} - {{meet.end_time}}</p>
            <p class="meeting_name">{{meet.meeting_name}}</p>
        </div>
    </div>
</div>