<div class="meeting_date">
    <mat-form-field>
      <mat-label>Calender</mat-label>
      <input matInput [matDatepicker]="picker" readonly [formControl]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="meeting_details">
    <div class="meeting_times">
        <div *ngFor="let hour of meeting_hours" class="hour" (click)="createMeet($event, hour)">
            <p>{{hour}}</p>
        </div>
        <div [style.top.px]="top_" class="meeting_box">
            
        </div>
    </div>
</div>