<mat-form-field class="wd-100">
    <input matInput placeholder="User Name">
</mat-form-field>
<mat-form-field class="wd-100">
    <input matInput placeholder="Meeting Name">
</mat-form-field>
<mat-form-field class="wd-100">
  <input matInput placeholder="Date">
</mat-form-field>
<mat-form-field class="wd-100">
  <input matInput placeholder="Date">
</mat-form-field>
<mat-form-field class="wd-100">
    <mat-label>Agenda</mat-label>
    <textarea matInput name="" id=""></textarea>
</mat-form-field>

<button type="button" class="button" (click)="onBtnClick(false)">
  Close
</button>