/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0px !important;
    padding: 0px !important;
    background: #f1f1f1 !important;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box !important;
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  /* background-color: #F5F5F5; */
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}

/*scroll bar*/

.mat-form-field-label-wrapper {
    height: 120% !important;
}
